.title {
    text-align: center;
    font-size: 200px;
    margin: 0;
}

.subTitle {
    text-align: center;
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
}

.wrapper {
    height: calc(100lvh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
